<%- include ('partials/header'); -%>

<div class="container my-custom-container" id="marginadjust">
	<div class="jumbotron">
		<form action="/forgot" method="POST">
		  <div class="form-group" style="text-align: center;">
			<h3>Enter Your Mail Address</h3>			
		  </div>
		  <br/>
		  <div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="text" class="form-control" placeholder="UserName" name="username" aria-describedby="emailHelp">			
		  </div>
		  <button type="submit" class="btn btn-success">Submit</button>		  
		  <small class="form-text text-muted"><a href="/login">Go Back to Login Page</a> </small>
		</form>
	</div>
</div>

<%- include ('partials/footer'); -%>	