<%- include ('partials/header'); -%>

<div class="container my-custom-container" id="marginadjust">
	<div class="jumbotron">
		<form action="/login" method="POST">
		  <div class="form-group" style="text-align: center;">
			<h1>Login In!!</h1>			
		  </div>
		  <br/>
		  <div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="text" class="form-control" placeholder="Email" name="username" aria-describedby="emailHelp">			
		  </div>
		  <div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" placeholder="Password" name="password">
		  </div>
		  <button type="submit" class="btn btn-success">Submit</button>
		  <small class="form-text text-muted"><a href="/forgot">Forgot Password!!</a></small>
		  <small class="form-text text-muted">If yo're New to this page</small>
		  <small class="form-text text-muted">Click This!!. <a href="/register">Sign Up!!</a> </small>
		</form>
	</div>
</div>

<%- include ('partials/footer'); -%>