<%- include ('partials/header'); %>

<div class="container my-custom-container" id="marginadjust">
	<div class="jumbotron">
		<form action="/userdetails" method="POST">
			<div class="form-group" style="text-align: center;">
				<h2>Enter Your Details!!</h2>					
		  	</div>
		  	<br/>
		  	<div class="form-group">
				<label for="exampleInputfirst">First Name</label>
				<input type="text" class="form-control" placeholder="First" name="firstname" required>			
		  	</div>
			<div class="form-group">
				<label for="exampleInputlast">Last Name:</label>
				<input type="text" class="form-control" placeholder="Last" name="lastname" required>
			</div>
			<div class="form-group">
				<label for="exampleInputlast">Email Address:</label>
				<input type="text" class="form-control email-input" value="<%= currentuser.username %>" name="username" readonly>
				<p class="error-email-message"></p>
			</div>
			<div class="form-group">
				<label for="examplecontactnum">Contact Number:</label>
				<input type="tel" class="form-control" placeholder="Contact Number" name="contact" maxlength="10" required>
			</div>
			<div class="form-group">
				<label for="exampleadob">DOB:</label>
				<input type="date" class="form-control"  name="dob" >
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>

<%- include ('partials/footer'); %>